
@{
    ViewBag.Title = "Rent";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mt-3 p-3 shadow rounded">
                <div class="d-flex justify-content-between border-bottom mb-3">
                    <h2 class="text-info">Rent List</h2>
                    @Html.ActionLink("Book Now","Add", "Rent", null, new {@class="btn btn-sm btn-primary"})
                </div>
                <div class="mt-3 p-3">
                    <table class="table table-responsive table-bordered text-center">
                        <thead class="text-info">
                            <tr>
                                <th>ID</th>
                                <th>PickUp</th>
                                <th>DropOff</th>
                                <th>PickUp Date</th>
                                <th>DropOff Date</th>
                                <th>Brand</th>
                                <th>Model</th>
                                <th>Total Run</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

